/* || Sitewide */

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: grey;
}

footer {
  display: flex;
  height: 100px;
  align-items: center;
  border-top: solid 1px grey;
}

.footer-space {
  margin-bottom: 50px;
}

table img {
  width: 100%;
  height: auto;
}

td, th {
  padding-right: 3%;
}

td {
  padding-bottom: 3%;
  padding-top: 3%;
  border-bottom: solid black 1px;
}

.visible-forms {
  width: 75%;
  border: solid black 1px;
  padding: 5%;
}

/* || Buttons */
.btn-space {
  margin-bottom: 5px;
  margin-left: 5px;
}

/* || Navbar */

.navbar {
  height: 150px;
}

.navbar a {
  text-decoration: none;
}

.nav-status {
  padding: none;
}

/* || Index.html */

#landing-pg {
  width: 50%;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

/* || Library Pages */
#pts-col {
  min-width: 10%;
}

/* || Individual Book Page */
#book-align {
  align-items: center;
}
