<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Torches</title>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/artists.js" charset="utf-8" defer></script>
    {{#each jsscripts}}
    <script src="/public/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    <div class="navbar">
      <a href= '/'><button class="btn btn-dark">Home</button></a>
      <a href= '/artists'><button class="btn btn-dark">Artists</button></a>
      <a href= '/albums'><button class="btn btn-dark">Albums</button></a>
      <a href= '/songs'><button class="btn btn-dark">Songs</button></a>
      <a href= '/genres'><button class="btn btn-dark">Genres</button></a>
      <a href= '/intersect'><button class="btn btn-dark">Genre Intersect</button></a>
    </div>


    {{{body}}}

  </body>
</html>