<div class="container">
    <center>
    <div id="landing-pg">
    <h1>Artists</h1>
    <h3>This page allows access to the Artists database entity.</h3>
    <button class="btn btn-dark">Display all Artists</button>
    </center>
</div>

<div class="form-group">
    <center>
    <label for="exampleArtist"> <h4>Add a new Artist</h4></label>
    <input type="name" class="form-control" id="exampleArtist" placeholder="Enter artist">
    <button class="btn btn-dark">Add</button>
    </center>
</div>