<script src="deleteGenre.js"></script>


<div class="container">
    <center>
    <div id="landing-pg">
    <h1>Genres</h1>
    <h3>This page allows access to the Genres in the database.</h3>
    </center>
</div>
    <table>
        <thead>
            <th>GenreID</th>
            <th>Name</th>
            <th>Album Title</th>
        </thead>
        <tbody>
            {{#each genre}}
            <tr>
                <td>{{genreID}}</td>
                <td>{{genreName}}</td>
                <td><button onclick="deleteGenre({{genreID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <form id="addgenre" action="/genre" method="post">
    Genre Name: <input type="text" name="genreName"><br>
    <input type="submit" value="Submit">
    </form>
