<div class="container">
    <center>
      <div id="landing-pg">
      <h1>Genre Intersection Table</h1>
      <h3>This page allows access to the Genre Intersection table database entity.</h3>
      <button class="btn btn-dark">Display all Genre/Album pairs</button>
      <button class="btn btn-dark">Remove a Relationship</button>
    </center>
</div>